<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 style="text-align: center;background-color: blue;color: white">Mis autos</h1>
        <a href="/">Techshop</a> | <a href="/ejemplo2">Mis autos</a>
        <h2>Lunes</h2>
        <img src="/img/auto.jpg" width="300" alt=""/>
        <h2>Martes</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqLNfmPH4mD99oVL3eOL7gLKOq6H8e-CMBiQ&s" width="300" alt=""/>
    </body>
</html>
