<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class='logo nav-link' href="/">Techshop</a>  
                <ul class='nav-menu'>
                    <li class='nav-menu-item'><a class='nav-link menu-item' href="/ejemplo2">Mis autos</a></li>
                    <li class='nav-menu-item'><a class='nav-link menu-item' href="/multimedia">Multimedia</a></li>
                    <li class='nav-menu-item'><a class='nav-link menu-item' href="/iframes">Iframes</a></li>              
                </ul>
            </nav>
        </header>
        <aside>
            <h1>Mis autos</h1>
            <p>Los autos que uso</p>
        </aside>
        <section>
            <h2>Lunes</h2>
            <img src="/img/auto.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqLNfmPH4mD99oVL3eOL7gLKOq6H8e-CMBiQ&s" width="300" alt=""/>
        </section>
        <footer>
            Todos los derechos reservardos TechShop &COPY;
        </footer>
    </body>
</html>
