<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class='logo nav-link' href="/">Techshop</a> 
                <ul class='nav-menu'>
                    <li class='nav-menu-item'><a class='nav-link menu-item' href="/ejemplo2">Mis autos</a></li>
                    <li class='nav-menu-item'><a class='nav-link menu-item' href="/multimedia">Multimedia</a></li>
                    <li class='nav-menu-item'><a class='nav-link menu-item' href="/iframes">Iframes</a></li>           
                </ul>
            </nav>
        </header>
        <--<!-- Esta es una barra lateral en una pagina web -->
        <aside>
            <h1>Iframes</h1>
            <p>Incorporacion de iframes en el sitio</p>
        </aside>
        <section>
            <h2>Iframes</h2>
            <article>
                <h3>Sitio web interno</h3>
                <iframe src="http://ufidelitas.ac.cr" height="400" width="1200"></iframe>
            </article>
            <article>
                <h3>Youtube</h3>
                <iframe width="914" height="514" src="https://www.youtube.com/embed/zhJygGhWjeY" title="GGST ▰ Dany (#1 Ranked Ky) vs Crescendo (#2 Ranked Giovanna). High Level Gameplay" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </article>
            <article>
                <h3>Ubicanos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125805.94615884434!2d-84.26231860273434!3d9.813714800000012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa10392008ad6bd%3A0xc4bbdcbd44822f65!2sLa%20Dolce%20Villa%20M%26G!5e0!3m2!1sen!2scr!4v1755232244073!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
        </section>
        <footer>
            Todos los derechos reservardos TechShop &COPY;
        </footer>
    </body>
</html>
